**OS path**
- 학원 노트북용 --> C:/Users/Playdata/Playdata_anl/1st_Project/dataset/subway
- 개인 노트북용 --> C:/Users/Brian/Desktop/playdata/Playdata_anl/1st_Project/dataset/subway

### subway_boarding_2017~2019 데이터 셋 결합
- subway_boarding_total 데이터 셋 생성

In [1]:
import pandas as pd

subway_boarding_2017 = pd.read_excel("C:/Users/Playdata/Playdata_anl/1st_Project/dataset/subway/subway_boarding_2017.xlsx")
subway_boarding_2018 = pd.read_excel("C:/Users/Playdata/Playdata_anl/1st_Project/dataset/subway/subway_boarding_2018.xlsx")
subway_boarding_2019 = pd.read_excel("C:/Users/Playdata/Playdata_anl/1st_Project/dataset/subway/subway_boarding_2019.xlsx")

In [2]:
# subway_boarding_2017 데이터 셋의 line 변수 뒤에 "호선"을 붙여주기
# 2018~2019년도 데이터 셋은 "호선"이 붙여져 있으므로 해 줄 필요 없음!!
from tqdm.notebook import tqdm

for i in tqdm(range(len(subway_boarding_2017))):
    subway_boarding_2017['line'][i] = str(subway_boarding_2017['line'][i]) + "호선"
    
subway_boarding_2017['line'].value_counts()

HBox(children=(FloatProgress(value=0.0, max=200750.0), HTML(value='')))

7호선    37230
5호선    37230
2호선    36500
6호선    27010
3호선    24090
4호선    18980
8호선    12410
1호선     7300
Name: line, dtype: int64

In [3]:
# 2017~2019년도 데이터 셋 결합
subway_boarding_total = pd.concat([subway_boarding_2017, subway_boarding_2018, subway_boarding_2019], axis = 0)

In [4]:
# xlsx 파일로 내보내기
subway_boarding_total.to_excel("C:/Users/Brian/Desktop/playdata/Playdata_anl/1st_Project/dataset/subway/subway_boarding_total.xlsx")

In [5]:
# date 변수의 타입을 datetime으로 변경
subway_boarding_total['date'] = pd.to_datetime(subway_boarding_total['date'])
subway_boarding_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 602304 entries, 0 to 200803
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          602304 non-null  datetime64[ns]
 1   line          602304 non-null  object
 2   station_num   602304 non-null  int64
 3   station_name  602304 non-null  object
 4   boarding      602304 non-null  object
 5   05~06         602304 non-null  int64
 6   06~07         602304 non-null  int64
 7   07~08         602304 non-null  int64
 8   08~09         602304 non-null  int64
 9   09~10         602304 non-null  int64
 10  10~11         602304 non-null  int64
 11  11~12         602304 non-null  int64
 12  12~13         602304 non-null  int64
 13  13~14         602304 non-null  int64
 14  14~15         602304 non-null  int64
 15  15~16         602304 non-null  int64
 16  16~17         602304 non-null  int64
 17  17~18         602304 non-null  int64
 18  18~19         602304 non-null  int64
 19  19~20         602304 non-null  int64
 20  20~21         602304 non-null  int64
 21  21~22         602304 non-null  int64
 22  22~23         602304 non-null  int64
 23  23~24         602304 non-null  int64
 24  00~01         602304 non-null  int64
 25  total         602304 non-null  int64
dtypes: datetime64[ns](1), int64(22), object(3)
memory usage: 124.1+ MB

In [6]:
# date를 기준으로 오름차순 정렬
subway_boarding_total.sort_values(by = 'date', inplace = True)

In [7]:
subway_boarding_total.head()

,date,line,station_num,station_name,boarding,05~06,06~07,07~08,08~09,09~10,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,total
0,2017-01-01,1호선,150,서울역,승차,470,286,397,786,1421,...,3610,3858,3376,3384,2537,3914,2660,917,112,43267
375,2017-01-01,6호선,2629,삼각지,하차,36,72,53,99,134,...,173,163,141,121,124,131,142,88,7,2416
374,2017-01-01,6호선,2629,삼각지,승차,58,79,45,75,102,...,319,414,285,160,150,112,97,47,0,3350
373,2017-01-01,6호선,2628,효창공원앞,하차,24,92,79,94,169,...,220,217,197,220,155,156,150,99,8,2903
372,2017-01-01,6호선,2628,효창공원앞,승차,60,88,70,119,209,...,217,225,169,134,111,81,82,35,0,3082

In [8]:
subway_boarding_total.tail()

,date,line,station_num,station_name,boarding,05~06,06~07,07~08,08~09,09~10,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,total
200436,2019-12-31,3호선,341,경찰병원,승차,69,218,802,998,542,...,562,668,653,293,233,191,166,74,17,8183
200437,2019-12-31,3호선,341,경찰병원,하차,13,108,253,1201,580,...,465,600,678,532,334,280,308,159,110,7879
200438,2019-12-31,3호선,342,오금,승차,120,243,922,1182,534,...,331,387,422,198,145,138,148,68,19,6745
200432,2019-12-31,3호선,339,수서,승차,170,438,1285,1621,1007,...,1412,1470,1708,990,827,605,586,297,112,18904
200803,2019-12-31,8호선,2827,모란,하차,15,99,140,386,189,...,306,277,403,279,213,195,186,130,407,4436

**subway_area_final, subway_address_final 데이터 셋 불러오기**

In [9]:
subway_area = pd.read_excel("C:/Users/Playdata/Playdata_anl/1st_Project/dataset/subway/subway_area_final.xlsx")
subway_address = pd.read_excel("C:/Users/Playdata/Playdata_anl/1st_Project/dataset/subway/subway_address_final.xlsx")

### subway_area_final + subway_address_final (데이터 셋 결합)
- subway_area_final 데이터 셋에는 "신내"역이 존재하지만, subway_address_final 데이터 셋에는 "신내"역이 존재하지 않는다.
- 그래서 **subway_address_final.csv 파일에 "신내"역에 대한 주소를 찾아서 직접 넣어주었다!!**
    - **<신내역 주소 출처>** - https://namu.wiki/w/%EC%8B%A0%EB%82%B4%EC%97%AD

In [10]:
subway_area

     line station_name type      area
0       1          서울역   섬식  10805.00
1       1           시청  상대식  11317.00
2       1           종각  상대식  10410.24
3       1         종로3가  상대식   9311.00
4       1         종로5가  상대식  10465.00
..    ...          ...  ...       ...
286     9         송파나루   섬식   7833.29
287     9         한성백제   섬식   8954.96
288     9  올림픽공원(한국체대)   섬식   8372.08
289     9         둔촌오륜   섬식   7544.33
290     9       중앙보훈병원  복합식   8956.00

[291 rows x 4 columns]

In [11]:
subway_area_final = subway_area[subway_area['line'] != 9] # 9호선은 제외
subway_area_final

     line      station_name type      area
0       1               서울역   섬식  10805.00
1       1                시청  상대식  11317.00
2       1                종각  상대식  10410.24
3       1              종로3가  상대식   9311.00
4       1              종로5가  상대식  10465.00
..    ...               ...  ...       ...
273     8  남한산성입구(성남법원.검찰청)  상대식   5412.29
274     8             단대오거리  상대식   8133.22
275     8                신흥  상대식   4861.61
276     8                수진  상대식   5067.31
277     8                모란  상대식   9918.77

[278 rows x 4 columns]

In [12]:
subway_address

    station_name  line    gu dong                             address
0           가락시장     3   송파구  가락동          서울특별시 송파구 가락동 184-23 가락시장역
1           가락시장     8   송파구  가락동  서울특별시 송파구 가락동 184-23 가락시장역(3, 8호선)
2        가산디지털단지     7   금천구  가산동         서울특별시 금천구 가산동 54-3 가산디지털단지역
3             강남     2    강남  역삼동               서울특별시 강남구 역삼동 858 강남역
4           강남구청     7   강남구  삼성동          서울특별시 강남구 삼성동 111-44 강남구청역
..           ...   ...   ...  ...                                 ...
274           홍제     3  서대문구  홍제동            서울특별시 서대문구 홍제동 161-1 홍제역
275           화곡     5   강서구  화곡동           서울특별시 강서구 화곡동 1089-54 화곡역
276  화랑대(서울여대입구)     6   노원구  공릉동            서울특별시 노원구 공릉동 285-2 화랑대역
277    회현(남대문시장)     4    중구  남창동           서울특별시 중구 남창동 64-1 회현역 4호선
278        효창공원앞     6   용산구  효창동             서울특별시 용산구 효창동 80 효창공원앞역

[279 rows x 5 columns]

In [13]:
subway_address_final = subway_address[subway_address['line'] != 9] # 9호선은 제외
subway_address_final

    station_name  line    gu dong                             address
0           가락시장     3   송파구  가락동          서울특별시 송파구 가락동 184-23 가락시장역
1           가락시장     8   송파구  가락동  서울특별시 송파구 가락동 184-23 가락시장역(3, 8호선)
2        가산디지털단지     7   금천구  가산동         서울특별시 금천구 가산동 54-3 가산디지털단지역
3             강남     2    강남  역삼동               서울특별시 강남구 역삼동 858 강남역
4           강남구청     7   강남구  삼성동          서울특별시 강남구 삼성동 111-44 강남구청역
..           ...   ...   ...  ...                                 ...
274           홍제     3  서대문구  홍제동            서울특별시 서대문구 홍제동 161-1 홍제역
275           화곡     5   강서구  화곡동           서울특별시 강서구 화곡동 1089-54 화곡역
276  화랑대(서울여대입구)     6   노원구  공릉동            서울특별시 노원구 공릉동 285-2 화랑대역
277    회현(남대문시장)     4    중구  남창동           서울특별시 중구 남창동 64-1 회현역 4호선
278        효창공원앞     6   용산구  효창동             서울특별시 용산구 효창동 80 효창공원앞역

[279 rows x 5 columns]

In [14]:
len(subway_area_final['station_name'])

278

In [15]:
len(subway_address_final['station_name'])

279

In [16]:
subway_area_final[subway_area_final['station_name'] == '까치산']

     line station_name type    area
128     5          까치산  상대식  7868.9

In [17]:
subway_address_final[subway_address_final['station_name'] == '까치산']

   station_name  line   gu dong                        address
40          까치산     2  강서구  화곡동       서울특별시 강서구 화곡동 662-5 까치산역
41          까치산     5  강서구  화곡동  서울특별시 강서구 화곡동 662-5 까치산역(5호선)

- subway_area_final 데이터 셋에는 "까치산"역이 1개 존재하는데, subway_address_final 데이터 셋에는 2개가 존재한다.
- **"까치산역은 2호선과 5호선이 개찰구를 공동으로 사용하므로 모든 이용객은 5호선의 것으로 집계된다"**라는 정보에 의거하여, **2호선 까치산 역의 주소는 사용하지 않도록 하겠다.**
    - **<근거 자료>** - https://namu.wiki/w/%EA%B9%8C%EC%B9%98%EC%82%B0%EC%97%AD

In [18]:
# 2호선 까치산역에 대한 주소 정보 제거
drop_idx = subway_address_final[(subway_address_final['station_name'] == '까치산') & (subway_address_final['line'] == 2)].index
subway_address_final.drop(drop_idx, inplace = True)

In [19]:
subway_address_final[subway_address_final['station_name'] == '까치산']

   station_name  line   gu dong                        address
41          까치산     5  강서구  화곡동  서울특별시 강서구 화곡동 662-5 까치산역(5호선)

In [20]:
# 두 데이터 셋의 station_name 개수가 일치하는지 다시 확인
len(subway_area_final['station_name']), len(subway_address_final['station_name'])

(278, 278)

- 이제 subway_area_final 데이터 셋과 subway_address_final 데이터 셋을 합쳐주겠다.

In [21]:
subway_area_final.head()

   line station_name type      area
0     1          서울역   섬식  10805.00
1     1           시청  상대식  11317.00
2     1           종각  상대식  10410.24
3     1         종로3가  상대식   9311.00
4     1         종로5가  상대식  10465.00

In [22]:
subway_address_final.head()

  station_name  line   gu dong                             address
0         가락시장     3  송파구  가락동          서울특별시 송파구 가락동 184-23 가락시장역
1         가락시장     8  송파구  가락동  서울특별시 송파구 가락동 184-23 가락시장역(3, 8호선)
2      가산디지털단지     7  금천구  가산동         서울특별시 금천구 가산동 54-3 가산디지털단지역
3           강남     2   강남  역삼동               서울특별시 강남구 역삼동 858 강남역
4         강남구청     7  강남구  삼성동          서울특별시 강남구 삼성동 111-44 강남구청역

In [23]:
# station_name을 조인키로 inner join
subway_area_address = pd.merge(subway_area_final, subway_address_final, how = 'inner', on = ['station_name', 'line'])
subway_area_address

,line,station_name,type,area,gu,dong,address
0,1,서울역,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선)
1,1,시청,상대식,11317.00,중구,정동,서울특별시 중구 정동 5-5 시청역(1호선)
2,1,종각,상대식,10410.24,종로구,종로1가,서울특별시 종로구 종로1가 54 종각지하철역사
3,1,종로3가,상대식,9311.00,종로구,종로3가,서울특별시 종로3가 10-5 1호선 종로3가역(1호선)
4,1,종로5가,상대식,10465.00,종로구,종로5가,서울특별시 종로구 종로5가 82-1 1호선 종로5가역
...,...,...,...,...,...,...,...
273,8,남한산성입구(성남법원.검찰청),상대식,5412.29,성남시,수정구 단대동,경기도 성남시 수정구 단대동 96 남한산성입구역
274,8,단대오거리,상대식,8133.22,성남시,수정구 신흥동,경기도 성남시 수정구 신흥동 2467 단대오거리역
275,8,신흥,상대식,4861.61,성남시,수정구 신흥동,경기도 성남시 수정구 신흥동 2467 신흥역
276,8,수진,상대식,5067.31,성남시,수정구 수진동,경기도 성남시 수정구 수진동 2205-1 수진역
277,8,모란,상대식,9918.77,성남시,수정구 수진동,경기도 성남시 수정구 수진동 4808 모란역

In [24]:
subway_area_address.isnull().sum()

line            0
station_name    0
type            0
area            0
gu              0
dong            0
address         0
dtype: int64

In [25]:
len(subway_area_address['station_name'])

278

- Inner join이 잘 이루어진 것을 확인할 수 있다.

### subway_boarding_total + subway_area_address (데이터 셋 결합)

In [26]:
# subway_area_address 데이터 셋의 line 변수 뒤에 "호선"을 붙여주기
from tqdm.notebook import tqdm

for i in tqdm(range(len(subway_area_address))):
    subway_area_address['line'][i] = str(subway_area_address['line'][i]) + "호선"
    
subway_area_address['line'].value_counts()

HBox(children=(FloatProgress(value=0.0, max=278.0), HTML(value='')))

5호선    51
7호선    51
2호선    50
6호선    39
3호선    34
4호선    26
8호선    17
1호선    10
Name: line, dtype: int64

In [27]:
len(set(subway_area_address['station_name']))

243

In [28]:
len(set(subway_boarding_total['station_name']))

242

- subway_area_address 데이터 셋과 subway_boarding_total 데이터 셋의 len이 서로 다르다...
    - 확인해보니, subway_area_address 데이터 셋에는 "신내"역이 존재하는데 subway_boarding_total 데이터 셋에는 존재하지 않는다.
    - **Inner join**을 해주면 **subway_boarding_total 데이터 셋에 존재하지 않는 "신내"역은 자연스레 사라질 것**이다!!

In [29]:
subway_area_address[subway_area_address['station_name'] == '신내']

    line station_name type     area   gu dong               address
209  6호선           신내  상대식  1069.48  중랑구  망우동  서울특별시 중랑구 신내동 19 신내역

In [30]:
subway_boarding_total[subway_boarding_total['station_name'] == '신내']

Empty DataFrame
Columns: [date, line, station_num, station_name, boarding, 05~06, 06~07, 07~08, 08~09, 09~10, 10~11, 11~12, 12~13, 13~14, 14~15, 15~16, 16~17, 17~18, 18~19, 19~20, 20~21, 21~22, 22~23, 23~24, 00~01, total]
Index: []

[0 rows x 26 columns]

In [31]:
# station_name과 line을 조인키로 inner join
subway_semi_final = pd.merge(subway_boarding_total, subway_area_address, how = 'inner', on = ['station_name', 'line'])
subway_semi_final

,date,line,station_num,station_name,boarding,05~06,06~07,07~08,08~09,09~10,...,21~22,22~23,23~24,00~01,total,type,area,gu,dong,address
0,2017-01-01,1호선,150,서울역,승차,470,286,397,786,1421,...,3914,2660,917,112,43267,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선)
1,2017-01-01,1호선,150,서울역,하차,278,880,859,964,1407,...,1618,962,551,179,32931,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선)
2,2017-01-02,1호선,150,서울역,하차,356,2366,4852,9813,4784,...,1243,1098,583,210,52036,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선)
3,2017-01-02,1호선,150,서울역,승차,411,536,2297,3665,2103,...,3606,1986,1094,188,60674,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선)
4,2017-01-03,1호선,150,서울역,하차,303,1719,4452,10406,4863,...,1334,1107,646,288,51327,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602299,2019-12-26,6호선,2615,연신내,승차,0,0,0,0,0,...,0,0,0,0,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역
602300,2019-12-27,6호선,2615,연신내,승차,0,0,0,0,0,...,0,0,0,0,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역
602301,2019-12-27,6호선,2615,연신내,하차,0,0,0,0,0,...,0,0,0,0,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역
602302,2019-12-28,6호선,2615,연신내,하차,0,0,0,0,0,...,0,0,0,0,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역
602303,2019-12-28,6호선,2615,연신내,승차,0,0,0,0,0,...,0,0,0,0,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역

In [32]:
len(subway_boarding_total)

602304

In [33]:
subway_semi_final.isnull().sum()

date            0
line            0
station_num     0
station_name    0
boarding        0
05~06           0
06~07           0
07~08           0
08~09           0
09~10           0
10~11           0
11~12           0
12~13           0
13~14           0
14~15           0
15~16           0
16~17           0
17~18           0
18~19           0
19~20           0
20~21           0
21~22           0
22~23           0
23~24           0
00~01           0
total           0
type            0
area            0
gu              0
dong            0
address         0
dtype: int64

- Inner join한 결과를 살펴보니, 결합이 잘 이루어진 것 같다!!
    - 또한 **inner join 과정에서 "신내"역이 제거되었음**을 확인할 수 있다.

In [34]:
subway_semi_final[subway_semi_final['station_name'] == '신내']

Empty DataFrame
Columns: [date, line, station_num, station_name, boarding, 05~06, 06~07, 07~08, 08~09, 09~10, 10~11, 11~12, 12~13, 13~14, 14~15, 15~16, 16~17, 17~18, 18~19, 19~20, 20~21, 21~22, 22~23, 23~24, 00~01, total, type, area, gu, dong, address]
Index: []

[0 rows x 31 columns]

### subway_semi_final + subway_info_total (데이터 셋 결합)

**두 개의 데이터 셋을 결합하기에 앞서, 아래의 과정을 진행해주겠다!!**
- subway_info_total 데이터 셋의 line 변수가 숫자로 되어있다.
- for문을 사용하여 뒤에 "호선"을 붙여주겠다.

In [35]:
subway_info_total = pd.read_csv("C:/Users/Playdata/Playdata_anl/1st_Project/dataset/subway/subway_info_total.csv")
subway_info_total

,line,station_name,transfer,transfer_num,entrance,gate
0,1,서울역,"1,4,공항,경의",4,9,"1, 2, 3, 4, 5, 6, 7, 8, 9,"
1,1,시청,"1,2",2,7,"1, 2, 3, 4, 5, 6, 7,"
2,1,종각,NaN,0,7,"1, 2, 3, 3-1, 4, 5, 6,"
3,1,종로3가,"1,3,5",3,8,"1, 2, 10, 11, 12, 13, 14, 15,"
4,1,종로5가,NaN,0,8,"1, 2, 3, 4, 5, 6, 7, 8,"
...,...,...,...,...,...,...
272,8,남한산성입구(성남법원.검찰청),NaN,0,4,"1,2,3,4"
273,8,단대오거리,NaN,0,7,"1,2,3,4,5,6,7"
274,8,신흥,NaN,0,4,"1,2,3,4"
275,8,수진,NaN,0,4,"1,2,3,4"
276,8,모란,"8,분당",2,4,"9,10,11,12"

In [36]:
from tqdm.notebook import tqdm

for i in tqdm(range(len(subway_info_total))):
    subway_info_total['line'][i] = str(subway_info_total['line'][i]) + "호선"
    
subway_info_total['line'].value_counts()

HBox(children=(FloatProgress(value=0.0, max=277.0), HTML(value='')))

5호선    51
7호선    51
2호선    50
6호선    38
3호선    34
4호선    26
8호선    17
1호선    10
Name: line, dtype: int64

- **station_name과 line을 조인키**로 두 개의 데이터 셋 **inner join**

In [37]:
len(set(subway_semi_final['station_name']))

242

In [38]:
len(set(subway_info_total['station_name']))

242

In [48]:
subway_semi_final2 = pd.merge(subway_semi_final, subway_info_total, how = 'inner', on = ['station_name', 'line'])
subway_semi_final2

,date,line,station_num,station_name,boarding,05~06,06~07,07~08,08~09,09~10,...,total,type,area,gu,dong,address,transfer,transfer_num,entrance,gate
0,2017-01-01,1호선,150,서울역,승차,470,286,397,786,1421,...,43267,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선),"1,4,공항,경의",4,9,"1, 2, 3, 4, 5, 6, 7, 8, 9,"
1,2017-01-01,1호선,150,서울역,하차,278,880,859,964,1407,...,32931,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선),"1,4,공항,경의",4,9,"1, 2, 3, 4, 5, 6, 7, 8, 9,"
2,2017-01-02,1호선,150,서울역,하차,356,2366,4852,9813,4784,...,52036,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선),"1,4,공항,경의",4,9,"1, 2, 3, 4, 5, 6, 7, 8, 9,"
3,2017-01-02,1호선,150,서울역,승차,411,536,2297,3665,2103,...,60674,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선),"1,4,공항,경의",4,9,"1, 2, 3, 4, 5, 6, 7, 8, 9,"
4,2017-01-03,1호선,150,서울역,하차,303,1719,4452,10406,4863,...,51327,섬식,10805.00,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선),"1,4,공항,경의",4,9,"1, 2, 3, 4, 5, 6, 7, 8, 9,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602299,2019-12-26,6호선,2615,연신내,승차,0,0,0,0,0,...,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역,"3,6",2,0,
602300,2019-12-27,6호선,2615,연신내,승차,0,0,0,0,0,...,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역,"3,6",2,0,
602301,2019-12-27,6호선,2615,연신내,하차,0,0,0,0,0,...,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역,"3,6",2,0,
602302,2019-12-28,6호선,2615,연신내,하차,0,0,0,0,0,...,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역,"3,6",2,0,
602303,2019-12-28,6호선,2615,연신내,승차,0,0,0,0,0,...,0,상대식,8420.54,은평구,갈현동,서울특별시 은평구 갈현동 397 연신내역,"3,6",2,0,

In [49]:
len(subway_semi_final)

602304

- Inner join이 잘 이루어진 것을 확인할 수 있다.

### 최종 데이터 셋 CSV 파일로 내보내기

In [50]:
subway_semi_final2.to_csv("C:/Users/Playdata/Playdata_anl/1st_Project/dataset/subway/subway_semi_final.csv")

**<참고> Inner join이 제대로 이루어지지 않은 것에 대한 원인 파악을 위한 코드**
- 연도별로 inner join을 수행해 본 결과, 2019년도 데이터 셋의 "충무로"역에 문제가 있음을 발견했다.
- 확인해보니, subway_info_total 데이터 셋에 3호선 "충무로"역이 존재하지 않았다.
    - 따라서 **subway_info_total 데이터 셋에 3호선 "충무로"역을 직접 넣어주었다!!**

In [ ]:
# subway_semi_final['date'] = subway_semi_final['date'].astype(str)

# subway_2017 = subway_semi_final[subway_semi_final['date'].str.contains('2017')]
# subway_2018 = subway_semi_final[subway_semi_final['date'].str.contains('2018')]
# subway_2019 = subway_semi_final[subway_semi_final['date'].str.contains('2019')]

In [ ]:
# subway_2017_final = pd.merge(subway_2017, subway_info_total, how = 'inner', on = ['station_name', 'line'])
# subway_2018_final = pd.merge(subway_2018, subway_info_total, how = 'inner', on = ['station_name', 'line'])
# subway_2019_final = pd.merge(subway_2019, subway_info_total, how = 'inner', on = ['station_name', 'line'])

In [ ]:
# len(subway_2017_final), len(subway_2017)

In [ ]:
# len(subway_2018_final), len(subway_2018)

In [ ]:
# len(subway_2019_final), len(subway_2019)