**OS path**
- 학원 노트북용 --> C:/Users/Playdata/Playdata_anl/1st_Project/dataset/population
- 개인 노트북용 --> C:/Users/Brian/Desktop/playdata/Playdata_anl/1st_Project/dataset/population

In [1]:
import pandas as pd
import numpy as np

### 2017~2019년도의 인구 데이터 결합
- ```glob``` 모듈을 사용하여 여러 개의 csv 파일을 한 번에 불러오기 
- Pandas의 ```concat()``` 함수를 사용해서 pop_total 데이터 셋 생성

In [2]:
from tqdm.notebook import tqdm
import pandas as pd
import glob

path = r'C:/Users/Playdata/Playdata_anl/1st_Project/dataset/population'
all_files = glob.glob(path + "/*.csv")

files = []

for filename in tqdm(all_files):
    pop = pd.read_csv(filename, error_bad_lines = False)
    files.append(pop)

files

HBox(children=(FloatProgress(value=0.0, max=36.0), HTML(value='')))

C:\Users\Playdata\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

[        Unnamed: 0     기준일ID  시간대구분     행정동코드      총생활인구수  남자0세부터9세생활인구수  \
 0                0  20170101      0  11110515  16846.9908       551.1680
 1                1  20170101      0  11110530  25606.3679       725.4355
 2                2  20170101      0  11110540   5724.9509        87.0075
 3                3  20170101      0  11110550  11691.6393       300.6513
 4                4  20170101      0  11110560  24976.4805       590.4086
 ...            ...       ...    ...       ...         ...            ...
 315451      315451  20170131     23  11740650  30818.0154       978.2184
 315452      315452  20170131     23  11740660  32966.8778       878.9140
 315453      315453  20170131     23  11740685  61867.8410      2151.6114
 315454      315454  20170131     23  11740690  16507.3545       391.9036
 315455      315455  20170131     23  11740700  40119.3554      1467.7192

         남자10세부터14세생활인구수  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
 0              351.2056         369.8000        1304.6177         850.2599
 1              322.4155         532.2063        1224.8244        1204.7807
 2               66.6684         105.3054         524.3655         509.7949
 3              233.1209         322.6515         411.5216         323.3993
 4              427.0619         631.2858         742.1176         616.4945
 ...                 ...              ...              ...              ...
 315451         339.3317         677.4612        1047.8307        1387.0332
 315452         528.3139         995.3519        1170.6795        1325.6534
 315453        1040.4466        1449.9768        1720.4191        2209.2321
 315454         297.0229         689.9862         660.0864         588.6716
 315455         740.3974        1066.9277        1173.4788        1324.6443

         ...  여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  \
 0       ...         476.3511         461.1296         625.6547
 1       ...        1122.1443         890.0688         973.3847
 2       ...         167.9036         155.2524         159.2981
 3       ...         287.1489         331.9336         365.2763
 4       ...         598.5069         651.1402         897.7209
 ...     ...              ...              ...              ...
 315451  ...        1433.8173        1302.3924        1396.1695
 315452  ...        1369.4592        1420.2780        1540.8826
 315453  ...        2332.1165        2460.6187        2641.6134
 315454  ...         519.3581         399.6859         465.8694
 315455  ...        1435.5315        1432.4491        1544.1134

         여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  여자55세부터59세생활인구수  \
 0              740.2699         756.2081         573.9838         473.3860
 1              980.6140        1161.5489         845.4654         749.9668
 2              153.4277         185.8502         157.4214         158.8650
 3              512.1536         554.7413         456.3265         501.4379
 4             1010.2025        1112.7978        1069.6627        1170.9235
 ...                 ...              ...              ...              ...
 315451         991.2961        1104.1640        1263.5940        1506.2611
 315452        1211.4598        1318.6189        1336.8815        1636.3228
 315453        2337.8502        2629.2590        2420.6461        3254.9028
 315454         479.5920         910.4639         919.9470        1077.2810
 315455        1413.2538        1610.7049        1701.8891        1949.9103

         여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수
 0              430.2336         350.5058     1206.3597
 1              716.6214         498.2217     1844.1171
 2              146.5678         127.6351      447.9828
 3              437.0760         386.6049     1296.1468
 4             1090.1355         743.0981     3009.9850
 ...                 ...              ...           ...
 315451        1404.9240         940.1157     1952.6181
 315452        1392.7521         973.7139     1761.6372
 315453        2574.5404        1978.5046     3650.4622
 315454         784.1080         493.7634      968.2621
 315455        1911.5117        1236.4458     2743.0527

 [315456 rows x 33 columns],
         Unnamed: 0     기준일ID  시간대구분     행정동코드      총생활인구수  남자0세부터9세생활인구수  \
 0                0  20170201      0  11110515  14905.2320       565.8853
 1                1  20170201      0  11110530  18336.8186       359.8342
 2                2  20170201      0  11110540   4233.0345        64.6494
 3                3  20170201      0  11110550  11628.9183       266.6229
 4                4  20170201      0  11110560  25155.4005       636.5953
 ...            ...       ...    ...       ...         ...            ...
 284923      284923  20170228     23  11740650  30617.9765       841.9938
 284924      284924  20170228     23  11740660  33629.5517       913.0094
 284925      284925  20170228     23  11740685  61176.0497      2166.0101
 284926      284926  20170228     23  11740690  15062.2880       306.3420
 284927      284927  20170228     23  11740700  38440.4324      1527.5537

         남자10세부터14세생활인구수  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
 0              360.5835         405.1086         589.5560         539.0759
 1              159.9262         213.7376         720.0792         761.4362
 2               49.5368         119.1041         220.3922         232.8157
 3              206.7356         330.2458         385.8279         387.2692
 4              460.4703         633.9927         782.0635         684.0409
 ...                 ...              ...              ...              ...
 284923         292.0766         656.9691        1000.5545        1405.1449
 284924         548.8090        1107.6129        1179.3479        1369.9855
 284925        1047.4096        1422.3902        1620.9630        2138.1575
 284926         232.1755         670.3566         595.3452         461.7753
 284927         770.5807        1022.0582        1135.2642        1147.8210

         ...  여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  \
 0       ...         472.0671         528.6737         637.4167
 1       ...         891.8023         725.0844         801.1342
 2       ...         127.1621         128.8520         176.6698
 3       ...         314.2266         337.4031         383.9837
 4       ...         632.2243         753.0013         844.8228
 ...     ...              ...              ...              ...
 284923  ...        1449.1785        1272.3162        1422.7791
 284924  ...        1300.5593        1335.5405        1563.8378
 284925  ...        2234.9217        2399.9064        2684.3459
 284926  ...         432.6048         382.0728         457.9698
 284927  ...        1321.5822        1317.8922        1449.5659

         여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  여자55세부터59세생활인구수  \
 0              768.2703         744.1118         534.2914         483.0048
 1              718.3265         696.4892         648.5540         687.4086
 2              153.5365         132.0142         140.7316         143.4352
 3              522.5428         589.9042         477.8545         462.0503
 4              960.3911        1054.9684        1133.6602        1266.0107
 ...                 ...              ...              ...              ...
 284923         985.3096        1077.6217        1277.8754        1499.7811
 284924        1227.9682        1366.3969        1294.3454        1540.1606
 284925        2361.3397        2698.7327        2486.0798        3256.4302
 284926         449.8075         802.0252         873.5723        1034.6866
 284927        1332.7780        1577.4822        1646.7348        1954.7155

         여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수
 0              422.8816         348.2906     1271.1488
 1              620.2346         480.4984     1786.7725
 2              147.5187         117.8847      453.0185
 3              503.5685         398.1867     1135.3646
 4             1091.9057         807.5647     2848.1005
 ...                 ...              ...           ...
 284923        1386.7642         900.6636     1951.1967
 284924        1380.1660        1039.1921     1883.2813
 284925        2587.7450        1928.5197     3482.5665
 284926         718.9180         421.9436      994.3392
 284927        1876.4645        1254.0825     2471.1385

 [284928 rows x 33 columns],
         Unnamed: 0     기준일ID  시간대구분     행정동코드      총생활인구수  남자0세부터9세생활인구수  \
 0                0  20170301      0  11110515  14398.5972       481.0487
 1                1  20170301      0  11110530  19506.8129       407.3887
 2                2  20170301      0  11110540   4117.3320        71.2376
 3                3  20170301      0  11110550  12860.0017       289.0656
 4                4  20170301      0  11110560  21922.5757       623.8462
 ...            ...       ...    ...       ...         ...            ...
 315451      315451  20170331     23  11740650  30886.4042       998.3490
 315452      315452  20170331     23  11740660  33435.0564       938.0646
 315453      315453  20170331     23  11740685  61850.4241      2056.7615
 315454      315454  20170331     23  11740690  15228.0798       411.1265
 315455      315455  20170331     23  11740700  37298.2690      1418.2384

         남자10세부터14세생활인구수  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
 0              306.5253         360.5706         583.4909         510.0975
 1              181.0617         237.2728         785.2769         761.5958
 2               54.5848          72.0857         205.9134         244.8753
 3              224.1372         370.7815         507.2452         394.6679
 4              451.2483         699.6173         657.4222         522.5780
 ...                 ...              ...              ...              ...
 315451         346.3145         783.5762        1048.6617        1420.5349
 315452         563.8695         995.3594        1355.7940        1377.9899
 315453         994.5795        1329.7680        1536.2198        2274.9295
 315454         311.5915         653.3720         583.8012         465.1838
 315455         715.4364        1068.9091         953.5658        1166.9335

         ...  여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  \
 0       ...         463.9106         539.9039         646.4420
 1       ...        1061.2626         795.8924         912.0108
 2       ...         115.8365         117.4691         127.9419
 3       ...         338.5905         376.4850         451.7329
 4       ...         545.6439         625.4430         705.4759
 ...     ...              ...              ...              ...
 315451  ...        1391.2301        1352.4125        1301.2842
 315452  ...        1303.1406        1395.4860        1430.4651
 315453  ...        2271.6971        2447.5362        2670.3072
 315454  ...         479.2606         377.7636         447.3488
 315455  ...        1335.1451        1324.1330        1520.6829

         여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  여자55세부터59세생활인구수  \
 0              784.5524         710.4766         512.5657         504.2789
 1              774.0563         795.7335         647.2374         652.0709
 2              139.3746         121.9471         145.2708         144.1465
 3              544.6163         645.1483         588.6455         518.9583
 4              767.6104         984.1710         986.0000        1075.1590
 ...                 ...              ...              ...              ...
 315451         970.5584        1094.9175        1202.5453        1450.4827
 315452        1174.1410        1427.2986        1226.3166        1656.6446
 315453        2403.1456        2668.1626        2506.0554        3189.3772
 315454         434.6083         775.0866         891.8307        1026.4238
 315455        1375.4306        1564.7129        1582.4141        1926.2243

         여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수
 0              437.2872         362.4634     1166.6975
 1              566.4056         446.0339     1684.3901
 2              155.9329         118.8519      546.6850
 3              518.1669         395.8846     1269.2015
 4             1037.2144         715.7661     2470.2650
 ...                 ...              ...           ...
 315451        1335.7527         900.1240     2137.9764
 315452        1396.0066         990.7194     1800.5782
 315453        2614.7993        2083.2008     3672.7461
 315454         737.5115         412.4809      993.3066
 315455        1858.5644        1255.4437     2275.9137

 [315456 rows x 33 columns],
         Unnamed: 0     기준일ID  시간대구분     행정동코드      총생활인구수  남자0세부터9세생활인구수  \
 0                0  20170401      0  11110515  15402.9826       549.6134
 1                1  20170401      0  11110530  20324.8992       531.0893
 2                2  20170401      0  11110540   5025.2130        78.8609
 3                3  20170401      0  11110550  12908.9286       276.0410
 4                4  20170401      0  11110560  22134.0080       593.6903
 ...            ...       ...    ...       ...         ...            ...
 305275      305275  20170430     23  11740650  29533.9613       839.8676
 305276      305276  20170430     23  11740660  31299.8004       892.8712
 305277      305277  20170430     23  11740685  63849.2427      2140.0989
 305278      305278  20170430     23  11740690  14940.3534       420.5240
 305279      305279  20170430     23  11740700  34423.3370      1402.6922

         남자10세부터14세생활인구수  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
 0              350.2151         441.5420         461.8399         551.0249
 1              236.0396         254.7587         847.9048         907.9816
 2               60.4261          89.6843         189.8752         243.4361
 3              214.0383         354.3767         440.3555         383.3465
 4              429.4352         613.6916         716.7945         564.1514
 ...                 ...              ...              ...              ...
 305275         291.3395         623.8536        1021.7911        1320.9598
 305276         536.7036         924.9887        1235.8057        1338.7527
 305277        1034.8785        1497.8608        1820.7760        2504.5529
 305278         318.7139         640.9590         568.1685         489.4047
 305279         707.5942         924.3304        1007.3219        1106.6812

         ...  여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  \
 0       ...         486.6768         579.5551         676.2786
 1       ...         998.3273         844.0325         936.2344
 2       ...         154.6202         186.6705         202.3578
 3       ...         342.2001         353.8511         455.5391
 4       ...         564.6396         582.2382         727.2037
 ...     ...              ...              ...              ...
 305275  ...        1325.4250        1273.2606        1294.5954
 305276  ...        1344.0828        1225.7220        1341.3280
 305277  ...        2487.7179        2511.4782        2542.6491
 305278  ...         469.7521         338.7113         415.6010
 305279  ...        1244.9999        1115.4579        1350.0793

         여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  여자55세부터59세생활인구수  \
 0              826.3603         789.2071         507.0426         498.4201
 1              804.1287         798.0859         665.8959         660.2493
 2              184.3346         169.4628         158.9152         191.6696
 3              519.2810         680.2218         554.2523         500.2979
 4              839.1739         933.5864         999.7492        1066.1175
 ...                 ...              ...              ...              ...
 305275        1023.7498        1108.3114        1185.5988        1427.3649
 305276        1052.4753        1286.9611        1244.8549        1473.1259
 305277        2460.9708        2742.2594        2448.2026        3189.6525
 305278         436.9812         715.5205         867.0788         997.2148
 305279        1191.6212        1441.6107        1473.8990        1703.1470

         여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수
 0              458.3843         355.0118     1428.2707
 1              611.7174         546.0471     1642.5685
 2              183.8284         125.7551      627.0924
 3              512.9699         392.9434     1359.4519
 4             1067.1303         681.1558     2456.9127
 ...                 ...              ...           ...
 305275        1394.4530         910.6400     1788.6538
 305276        1304.0948        1012.0102     1766.4801
 305277        2586.0559        1984.6950     3928.8529
 305278         741.5063         419.4442     1031.0088
 305279        1687.7568        1157.0308     2214.7641

 [305280 rows x 33 columns],
         Unnamed: 0     기준일ID  시간대구분     행정동코드      총생활인구수  남자0세부터9세생활인구수  \
 0                0  20170501      0  11110515  14912.2575       559.8029
 1                1  20170501      0  11110530  20855.9521       405.6510
 2                2  20170501      0  11110540   5376.0248        87.4592
 3                3  20170501      0  11110550  13235.3500       304.3521
 4                4  20170501      0  11110560  22308.7551       603.9104
 ...            ...       ...    ...       ...         ...            ...
 315451      315451  20170531     23  11740650  28340.6984       640.0816
 315452      315452  20170531     23  11740660  32141.8091       934.1953
 315453      315453  20170531     23  11740685  58376.5580      2212.2291
 315454      315454  20170531     23  11740690  14174.0290       368.8120
 315455      315455  20170531     23  11740700  37499.7103      1590.6966

         남자10세부터14세생활인구수  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
 0              356.7079         408.1818         579.1428         527.3546
 1              180.2895         324.7517         859.5802         855.8181
 2               67.0146         287.5893         220.0726         307.2384
 3              235.9904         372.2438         456.6105         403.0715
 4              436.8279         707.4962         641.2566         569.0576
 ...                 ...              ...              ...              ...
 315451         222.0361         579.4559         844.8845        1222.5435
 315452         561.5439        1050.9033        1240.0122        1255.9322
 315453        1069.7583        1297.4813        1587.7161        2194.1788
 315454         279.5211         609.3930         486.4250         434.2519
 315455         802.4334        1056.1110        1049.2788        1141.6086

         ...  여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  \
 0       ...         462.8594         528.3601         634.5437
 1       ...         920.1624         837.7237         941.1573
 2       ...         169.7824         178.3566         207.1486
 3       ...         346.6284         335.0727         505.0145
 4       ...         575.9676         571.8867         718.8602
 ...     ...              ...              ...              ...
 315451  ...        1308.4216        1314.5060        1298.5841
 315452  ...        1425.0922        1397.0147        1447.9448
 315453  ...        2233.9023        2257.5139        2454.8432
 315454  ...         478.9051         383.4191         408.5178
 315455  ...        1441.4480        1296.2954        1491.6046

         여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  여자55세부터59세생활인구수  \
 0              752.0383         776.6409         522.7186         497.7222
 1              808.6989         809.2140         715.7699         732.5253
 2              183.2552         148.7331         158.6384         187.4951
 3              520.6298         665.1245         582.7900         508.3968
 4              844.0031         926.5818        1014.9917        1048.9200
 ...                 ...              ...              ...              ...
 315451         980.0669        1092.0697        1160.3317        1373.5799

In [3]:
pop_total = pd.concat(files, axis = 0, ignore_index = True)
pop_total.drop(['Unnamed: 0'], axis = 1, inplace = True) # 첫 번째 컬럼 제거(의미 없는 컬럼임)

In [4]:
pop_total.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20170101,0,11110515,16846.9908,551.1680,351.2056,369.8000,1304.6177,850.2599,754.2146,...,476.3511,461.1296,625.6547,740.2699,756.2081,573.9838,473.3860,430.2336,350.5058,1206.3597
1,20170101,0,11110530,25606.3679,725.4355,322.4155,532.2063,1224.8244,1204.7807,1075.2772,...,1122.1443,890.0688,973.3847,980.6140,1161.5489,845.4654,749.9668,716.6214,498.2217,1844.1171
2,20170101,0,11110540,5724.9509,87.0075,66.6684,105.3054,524.3655,509.7949,358.1338,...,167.9036,155.2524,159.2981,153.4277,185.8502,157.4214,158.8650,146.5678,127.6351,447.9828
3,20170101,0,11110550,11691.6393,300.6513,233.1209,322.6515,411.5216,323.3993,295.2344,...,287.1489,331.9336,365.2763,512.1536,554.7413,456.3265,501.4379,437.0760,386.6049,1296.1468
4,20170101,0,11110560,24976.4805,590.4086,427.0619,631.2858,742.1176,616.4945,550.0281,...,598.5069,651.1402,897.7209,1010.2025,1112.7978,1069.6627,1170.9235,1090.1355,743.0981,3009.9850

In [5]:
pop_total.tail()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
11020603,20191231,23,11740610,47108.0384,1530.5533,684.2480,1261.2936,1346.8427,1772.9466,1919.2425,...,1778.4421,1836.2225,1842.3955,1669.1141,1746.4848,1805.8380,2198.6277,1971.4508,1509.8941,3397.6009
11020604,20191231,23,11740685,56004.5812,1777.7481,859.6586,1252.0765,1500.0176,1999.8669,1869.7091,...,1837.8152,2173.7660,2183.6664,2088.3162,2559.8771,2309.2951,2736.9112,2354.2835,1820.0325,3858.1011
11020605,20191231,23,11740640,26471.4234,1150.2747,594.0026,731.9921,543.0908,682.9012,856.1581,...,809.2766,926.6463,1231.7519,1213.1097,1152.5178,1060.8198,1234.5424,1112.0217,937.4364,1743.6741
11020606,20191231,23,11740650,27986.5462,1070.9042,371.4830,566.1300,747.7386,1173.3330,1189.2734,...,1246.6635,1167.0023,1150.3829,1146.3252,1050.6582,997.6744,1322.4171,1105.3542,965.8775,1934.5264
11020607,20191231,23,11740700,32974.4339,1364.7863,688.4728,816.0758,762.3534,957.2146,986.8085,...,1005.1095,951.7186,1220.0583,1189.0528,1298.7248,1331.3742,1598.7414,1458.6600,1275.6589,2708.7187

In [6]:
len(pop_total)

11020608

- pop_total 데이터 셋의 변수명을 영어로 변경

In [7]:
new_colnames = {'기준일ID':'date', '시간대구분':'hour', '행정동코드':'dong_code', '총생활인구수':'total', 
                '남자0세부터9세생활인구수':'m_0_9', '남자10세부터14세생활인구수':'m_10_14', '남자15세부터19세생활인구수':'m_15_19',
                '남자20세부터24세생활인구수':'m_20_24', '남자25세부터29세생활인구수':'m_25_29', '남자30세부터34세생활인구수':'m_30_34',
                '남자35세부터39세생활인구수':'m_35_39', '남자40세부터44세생활인구수':'m_40_44', '남자45세부터49세생활인구수':'m_45_49',
                '남자50세부터54세생활인구수':'m_50_54', '남자55세부터59세생활인구수':'m_55_59', '남자60세부터64세생활인구수':'m_60_64',
                '남자65세부터69세생활인구수':'m_65_69', '남자70세이상생활인구수':'m_over_70', '여자0세부터9세생활인구수':'f_0_9',
                '여자10세부터14세생활인구수':'f_10_14', '여자15세부터19세생활인구수':'f_15_19', '여자20세부터24세생활인구수':'f_20_24',
                '여자25세부터29세생활인구수':'f_25_29', '여자30세부터34세생활인구수':'f_30_34', '여자35세부터39세생활인구수':'f_35_39',
                '여자40세부터44세생활인구수':'f_40_44', '여자45세부터49세생활인구수':'f_45_49', '여자50세부터54세생활인구수':'f_50_54',
                '여자55세부터59세생활인구수':'f_55_59', '여자60세부터64세생활인구수':'f_60_64', '여자65세부터69세생활인구수':'f_65_69',
                '여자70세이상생활인구수':'f_over_70'}

pop_total.rename(columns = new_colnames, inplace = True)

In [8]:
pop_total.head()

,date,hour,dong_code,total,m_0_9,m_10_14,m_15_19,m_20_24,m_25_29,m_30_34,...,f_25_29,f_30_34,f_35_39,f_40_44,f_45_49,f_50_54,f_55_59,f_60_64,f_65_69,f_over_70
0,20170101,0,11110515,16846.9908,551.1680,351.2056,369.8000,1304.6177,850.2599,754.2146,...,476.3511,461.1296,625.6547,740.2699,756.2081,573.9838,473.3860,430.2336,350.5058,1206.3597
1,20170101,0,11110530,25606.3679,725.4355,322.4155,532.2063,1224.8244,1204.7807,1075.2772,...,1122.1443,890.0688,973.3847,980.6140,1161.5489,845.4654,749.9668,716.6214,498.2217,1844.1171
2,20170101,0,11110540,5724.9509,87.0075,66.6684,105.3054,524.3655,509.7949,358.1338,...,167.9036,155.2524,159.2981,153.4277,185.8502,157.4214,158.8650,146.5678,127.6351,447.9828
3,20170101,0,11110550,11691.6393,300.6513,233.1209,322.6515,411.5216,323.3993,295.2344,...,287.1489,331.9336,365.2763,512.1536,554.7413,456.3265,501.4379,437.0760,386.6049,1296.1468
4,20170101,0,11110560,24976.4805,590.4086,427.0619,631.2858,742.1176,616.4945,550.0281,...,598.5069,651.1402,897.7209,1010.2025,1112.7978,1069.6627,1170.9235,1090.1355,743.0981,3009.9850

- pop_total 데이터 셋을 남/여 구분 없이 연령대 별로 합쳐주기
    - 총 7개의 그룹으로 범주화한 연령대 변수 생성
        - 20세미만
        - 20대
        - 30대
        - 40대
        - 50대
        - 60대
        - 70세이상

In [9]:
# 총 7개의 그룹으로 범주화한 연령대 변수 생성
pop_total['20세미만'] = pop_total['m_0_9'] + pop_total['m_10_14'] + pop_total['m_15_19'] + pop_total['f_0_9'] + pop_total['f_10_14'] + pop_total['f_15_19']
pop_total['20대'] = pop_total['m_20_24'] + pop_total['m_25_29'] + pop_total['f_20_24'] + pop_total['f_25_29']
pop_total['30대'] = pop_total['m_30_34'] + pop_total['m_35_39'] + pop_total['f_30_34'] + pop_total['f_35_39']
pop_total['40대'] = pop_total['m_40_44'] + pop_total['m_45_49'] + pop_total['f_40_44'] + pop_total['f_45_49']
pop_total['50대'] = pop_total['m_50_54'] + pop_total['m_55_59'] + pop_total['f_50_54'] + pop_total['f_55_59']
pop_total['60대'] = pop_total['m_60_64'] + pop_total['m_65_69'] + pop_total['f_60_64'] + pop_total['f_65_69']
pop_total['70세이상'] = pop_total['m_over_70'] + pop_total['f_over_70']
    
# 불필요한 변수들 제거
pop_total_final = pop_total.drop(['m_0_9', 'm_10_14', 'm_15_19', 'm_20_24', 'm_25_29', 'm_30_34', 'm_35_39', 
                                  'm_40_44', 'm_45_49','m_50_54', 'm_55_59', 'm_60_64', 'm_65_69', 'm_over_70',
                                  'f_0_9', 'f_10_14', 'f_15_19', 'f_20_24', 'f_25_29', 'f_30_34', 'f_35_39', 
                                  'f_40_44', 'f_45_49','f_50_54', 'f_55_59', 'f_60_64', 'f_65_69', 'f_over_70'], 
                                  axis = 1, inplace = False)

pop_total_final.head()

,date,hour,dong_code,total,20세미만,20대,30대,40대,50대,60대,70세이상
0,20170101,0,11110515,16846.9908,2459.9117,3071.7187,2619.6219,3120.0414,2147.3964,1387.4667,2040.8343
1,20170101,0,11110530,25606.3679,3318.1364,4419.9298,4219.9963,4768.6949,3627.0648,2353.1643,2899.3791
2,20170101,0,11110540,5724.9509,568.1162,1348.8877,929.6296,953.8525,677.0148,523.6464,723.8041
3,20170101,0,11110550,11691.6393,1674.9696,1339.5106,1371.8571,1914.1036,1769.2925,1489.8167,2132.0894
4,20170101,0,11110560,24976.4805,3340.9352,2659.3631,2822.5062,3880.1131,4217.1843,3331.8599,4724.5195

In [10]:
pop_total_final.tail()

,date,hour,dong_code,total,20세미만,20대,30대,40대,50대,60대,70세이상
11020603,20191231,23,11740610,47108.0384,6188.2727,6288.1413,7824.7680,7344.8905,7573.8382,6292.1836,5595.9437
11020604,20191231,23,11740685,56004.5812,7727.9161,7064.1564,8598.2631,9226.5051,9408.6981,7522.9479,6456.0969
11020605,20191231,23,11740640,26471.4234,4430.1550,2648.8209,4147.1218,4493.7940,4208.8375,3431.4259,3111.2694
11020606,20191231,23,11740650,27986.5462,3526.7447,3996.3412,4789.6924,4511.4253,4309.2844,3528.7525,3324.3063
11020607,20191231,23,11740700,32974.4339,5135.1512,3596.6190,4412.7418,4875.9918,5253.7418,4830.2941,4869.8948

In [11]:
# date 변수의 타입을 str 으로 변경
# <참고> str()로 사용해서 변경하면 이상하게 변경된다...
pop_total_final['date'] = pop_total_final['date'].astype(str)
pop_total_final['date']

0           20170101
1           20170101
2           20170101
3           20170101
4           20170101
              ...
11020603    20191231
11020604    20191231
11020605    20191231
11020606    20191231
11020607    20191231
Name: date, Length: 11020608, dtype: object

In [12]:
pop_total_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11020608 entries, 0 to 11020607
Data columns (total 11 columns):
 #   Column     Dtype
---  ------     -----
 0   date       object
 1   hour       int64
 2   dong_code  int64
 3   total      float64
 4   20세미만      float64
 5   20대        float64
 6   30대        float64
 7   40대        float64
 8   50대        float64
 9   60대        float64
 10  70세이상      float64
dtypes: float64(8), int64(2), object(1)
memory usage: 924.9+ MB

### 최종 생성된 데이터 셋을 csv 파일로 내보내기

In [13]:
pop_total_final.to_csv("C:/Users/Playdata/Playdata_anl/1st_Project/dataset/population/total_final/pop_total_final.csv")